{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content%}
<div class="row">
    <div class="welcome-card fga-inside-image about-welcome-card col-md-12 py-3 w-100 text-center">
        <h1>Sobre este projeto</h1>
    </div>

    <div class="col-12 row dark-bg-font about-card">
        <div class="col-md-9 col-12">
            <p>
                Mussum Ipsum, cacilds vidis litro abertis. In elementis mé pra quem é amistosis quis leo.Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis.Si num tem leite então bota uma pinga aí cumpadi!Mais vale um bebadis conhecidiss, que um alcoolatra anonimis.
            </p>       
            <p>Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo!Delegadis gente finis, bibendum egestas augue arcu ut est.Suco de cevadiss deixa as pessoas mais interessantis.Viva Forevis aptent taciti sociosqu ad litora torquent.</p>
            <p>Aenean aliquam molestie leo, vitae iaculis nisl.Si num tem leite então bota uma pinga aí cumpadi!Casamentiss faiz malandris se pirulitá.A ordem dos tratores não altera o pão duris.

                Mé faiz elementum girarzis, nisi eros vermeio.Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis!Copo furadis é disculpa de bebadis, arcu quam euismod magna.Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl.
            </p>
        </div>
        <div class="col-md-3 col-12 row">
            <h1 class="col-12">Tecnologias Utilizadas</h1>
            <div class="row col-12 justify-content-around align-content-center">
                <div class="col-3 my-1 justify-content-center"><span class="py-2 badge rounded-pill bg-secondary">Python</span></div>
                <div class="col-3 my-1"><span class="py-2 badge rounded-pill bg-secondary">Django</span></div>
                <div class="col-3 my-1"><span class="py-2 badge rounded-pill bg-secondary">Matlab</span></div>
                <div class="col-3 my-1"><span class="py-2 badge rounded-pill bg-secondary">Bootstrap 5.0</span></div>
                <div class="col my-1 align-content-center"><span class="py-2 badge rounded-pill bg-secondary">Geogebra</span></div>
                <div class="col my-1"><span class="py-2 badge rounded-pill bg-secondary">OBS Studio</span></div>
            </div>
        </div>
    </div>
    
    <div class="col-md-3 col-12 dark-bg-font">
        
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>

{% endblock %}