{% extends "base.html" %}
{% load embed_video_tags %}
{% load static %}
{% load i18n %}

{% block content%}
<div class="row">
    <div class="row col-md-12 py-5 dark-bg-font">
        <div class="card-modulo p-4">
            <div class="card-header display-5 py-2">
                MÓDULO {{ module.number }}- {{ module.title }}
            </div>
            <div class="row">
                
                <div class="module-menu col-12 col-lg-2 nav flex-lg-column flex-row nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <div class="module-topics-menu-title text-center">
                        TÓPICOS
                    </div>
                    {% for topic in topics %}
                        <button class="module-list-button {{topic.status}}" id="v-pills-{{topic.item.id}}-tab" data-bs-toggle="pill" data-bs-target="#v-pills-{{topic.item.id}}"
                        type="button" role="tab" aria-controls="v-pills-{{topic.item.id}}" aria-selected="true"><span>{{ topic.item.title }}</span></button>    
                    {% endfor %}
                </div>

                <div class="col-12 col-lg-10 tab-content" id="v-pills-tabContent">
                    {% for topic in topics %}
                    <div class="tab-pane fade show active" id="v-pills-{{topic.item.id}}" role="tabpanel"
                        aria-labelledby="v-pills-{{topic.item.id}}-tab">
                        <div>
                            <h3>Sumário</h3>
                            <ul>
                                <li><a href="#aulas">Aulas</a></li>
                                {% for lesson in topic.lessons %}
                                    <ul>
                                        <li>{{ lesson.title }}</li>
                                    </ul>
                                {% endfor %}
                                <li><a href="#exercises">Listas de Exercício</a></li>
                            </ul>
    
                        </div>
                        <h3 id="aulas">Aulas</h3>
                        <div class="lesson">
                            {% for lesson in topic.lessons %}
                                <h4 class="py-1 my-3">{{ lesson.title }}</h4>
                                <p class="module-text-muted">Publicado em {{lesson.created_at}}</p>
                                <p>{{ lesson.text }}</p>
                                <div class="video">
                                    {% video lesson.video %}
                                </div>
                                <hr class="col-12">
                            {% endfor %}
                        </div>
                        <h2 id="exercises" class="text-center my-5">Listas de exercícios</h2>
                        <p class="lead">Listas de exercícios que foram publicadas para estudo de Determinantes</p>
                        <div class="exercise-list d-lg-block clearfix row">
                            <div class="col-md-12 row">
                                <hr class="col-12">
                                <h3>Lista 03 Determinantes</h3>
                                <div class="col-md-6">

                                    <button class="button-visualize-pdf m-4 p-2" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#lista-03-id" aria-expanded="false" aria-controls="lista-03-id">
                                            <div class="default-btn">
                                              <svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="#FFF" height="20" width="20" viewBox="0 0 24 24"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle r="3" cy="12" cx="12"></circle></svg>
                                              <span>Lista 03 Determinantes</span>
                                            </div>
                                            <div class="hover-btn text-center">
                                              <span class="d-none d-lg-block">Visualizar PDF</span>
                                              <span class="d-lg-none d-sm-block">Baixar PDF</span>
                                            </div>

                                    </button>
                                    
                                </div>
                                <div class="col-md-6">
                                    <p>Test PDF
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the
                                        industry's standard dummy text ever since the 1500s, when an unknown printer
                                        took a galley of type
                                        and scrambled it to make a type specimen book. It has survived not only five
                                        centuries, but also the leap
                                        into electronic typesetting, remaining essentially unchanged.</p>
                                    <p class="module-text-muted">Publicado em: 21/05/2022</p>
                                </div>
                                <div class="collapse col-12 row" id="lista-03-id">
                                    <h5 class="col-12 lead">Lista 03 Determinantes</h5>
                                    <embed class="pdf col-12" type="application/pdf" src={% static 'testing_pdf/lorem_ipsum.pdf' %} />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab">
                        <p>.sitsog mun ue silob siam ,silob ed atiecer ec aidup ossiuq ssitnasseretnI .mital icerap i
                            sidan acifingis mun iuq sirvalap itnom ni neipaS .agap sion aid muiuq aterudnip amudnaM .oel
                            siuq sisotsima e meuq arp em sitnemele ni ,oiemrev sore isin ,sizrarig mutnemele ziaf eM
                            .sitnas sitiripse ,sihlif ,sisiaP .sidarap ,sirrop sitlovid sioped , al arP .sitile
                            sgnicsipida sitesnoC .sitreba ortil sidiv ,sdlicac muspi mussuM</p>
                        <p>.sitsog mun ue silob siam ,silob ed atiecer ec aidup ossiuq ssitnasseretnI .mital icerap i
                            sidan acifingis mun iuq sirvalap itnom ni neipaS .agap sion aid muiuq aterudnip amudnaM .oel
                            siuq sisotsima e meuq arp em sitnemele ni ,oiemrev sore isin ,sizrarig mutnemele ziaf eM
                            .sitnas sitiripse ,sihlif ,sisiaP .sidarap ,sirrop sitlovid sioped , al arP .sitile
                            sgnicsipida sitesnoC .sitreba ortil sidiv ,sdlicac muspi mussuM</p>
                    </div>
                    <div class="tab-pane fade" style="width:100%;" id="v-pills-3" role="tabpanel"
                        aria-labelledby="v-pills-3-tab">
                        <h2 class="text-center">Listas de exercícios</h2>
                            <p class="lead">Listas de exercícios que foram publicadas para estudo de Determinantes</p>
                        <div class="exercise-list d-none d-lg-block clearfix row">
                            <div class="col-md-12 row">
                                <hr class="col-12">
                                <h3>Lista 03 Determinantes</h3>
                                <div class="col-md-6">
                                    <button class="button-visualize-pdf m-4 p-2" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#lista-03-id" aria-expanded="false" aria-controls="lista-03-id">
                                        
                                            <div class="default-btn">
                                              <svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="#FFF" height="20" width="20" viewBox="0 0 24 24"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle r="3" cy="12" cx="12"></circle></svg>
                                              <span>Lista 03 Determinantes</span>
                                            </div>
                                            <div class="hover-btn text-center">
                                              <span>Visualizar PDF</span>
                                            </div>
                                    </button>
                                    
                                </div>
                                <div class="col-md-6">
                                    <p>Test PDF
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the
                                        industry's standard dummy text ever since the 1500s, when an unknown printer
                                        took a galley of type
                                        and scrambled it to make a type specimen book. It has survived not only five
                                        centuries, but also the leap
                                        into electronic typesetting, remaining essentially unchanged.</p>
                                    <p class="module-text-muted">Publicado em: 21/05/2022</p>
                                </div>
                                <div class="collapse col-md-12 row" id="lista-03-id">
                                    <h5 class="lead">Lista 03 Determinantes</h5>
                                    <embed class="pdf col-md-12" type="application/pdf" src={% static 'testing_pdf/lorem_ipsum.pdf' %} />
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    {% endfor %}

                </div>
            
                <div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-4-tab">...</div>
            </div>
        
            
        </div>
    
        
    </div>
    
</div>
</div>
</div>

</div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>

{% endblock %}