.dark-bg-font {
    color: white;
}

.bg-pattern {
    background-color: #191c1b;
    background-image: radial-gradient(circle, #01140a 15%, transparent 10%), radial-gradient(circle, #01140a 15%, transparent 10%);
    background-size: 10px 10px;
    background-position: 0 0, 50px 50px;
}

.exercise-list {
    background-color: #1f1d1d;
    border-radius: 15px;

}

.clean_cartoon_button {
    border: none;
    width: 100%;
    height: 100%;
    max-height: 30px;
    background-color: #94d8b4;
}

.clean_cartoon_button:hover {
    background-color: transparent;
}

.button_cartoon {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #94d8b4;
    --button_outline_color: #00c45d;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
}

.button_top {
    text-align: center;
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

.button_cartoon:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
}

.button_cartoon:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
}

.card-extra {
    width: 300px;
    background: #141a17;
    position: relative;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    padding: 20px;

}

.card-extra h2, .card-extra p {
    max-width: 100%;
    z-index: 1;
    color: white;
    font-size: 1.4em;
}

.card-extra p {
    padding: 15px;
    font-size: 1em;
}

.card-extra::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, #00c45d, #00ff79);
    height: 200%;
    animation: rotBGimg 20s linear infinite;
    transition: all 0.2s linear;
}

@keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.card-extra::after {
    content: '';
    position: absolute;
    background: #141a17;
    inset: 5px;
    border-radius: 15px;
}


.button-extra {
    padding: 0.8em 1.8em;
    border: 2px solid #00c45d;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #00c45d;
}

.button-extra::before {
    content: '';
    width: 0;
    height: 600%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #00c45d;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.button-extra:hover::before {
    width: 100%;
}

.button-extra:hover {
    color: #111;
}

.card-modulo {

    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
        -15px -15px 30px #191c1b;
}

.pdf {
    width: 100% !important;
    max-width: 1000px !important;
    min-height: 600px !important;
}

.module-text-muted {
    color: #b9b9b9 !important;
}

.button-visualize-pdf {
    position: relative;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    background-color: #071401;
    border: solid 2px #00c45d;
    font-family: inherit;
}

.default-btn, .hover-btn {
    background-color: #071401;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 15px;
    border-radius: 0px;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .3s ease;
}

.hover-btn {
    position: absolute;
    inset: 0;
    background-color: #00c45d;
    transform: translate(0%, 100%);
}

.default-btn span {
    color: hsl(0, 0%, 100%);
}

.hover-btn span {
    color: #000000 !important;
}

.button-visualize-pdf:hover .default-btn {
    transform: translate(0%, -100%);
}

.button-visualize-pdf:hover .hover-btn {
    transform: translate(0%, 0%);
}

.module-topics-menu-title {
    font-weight: bold !important;
    text-shadow: 2px 1px #0e0909 !important;
}

.module-list-button {
    display: inline-block;
    border-radius: 4px;
    background: #272727;
    border: none;
    box-sizing: border-box;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    box-shadow:0px 0px 8px 2px #00c45d inset;
}


.module-list-button.active {
    background: linear-gradient(90deg, rgba(0, 196, 93, 1) 25%, rgba(33, 33, 33, 1) 95%) !important;
    color: #000000 !important;
    font-weight: bold !important;
    box-shadow:0px 0px 2px 1px #212121 inset;
    
}

.module-list-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.module-list-button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}

.module-list-button:hover span {
    padding-right: 15px;
}

.module-list-button:hover {
    background: linear-gradient(90deg, rgba(0, 196, 93, 1) 50%, rgba(33, 33, 33, 1) 100%);
    transition: 0.2s;
}

.module-list-button:hover span:after {
    opacity: 1;
    right: 0;
}