.dark-bg-font {
    color: white;
}

.bg-pattern{
    background-color: #191c1b;
    background-image: radial-gradient(circle, #01140a 15%, transparent 10%), radial-gradient(circle, #01140a 15%, transparent 10%);
    background-size: 10px 10px;
    background-position: 0 0, 50px 50px;
  }

.clean_cartoon_button {
    border: none;
    width: 100%;
    height: 100%;
    max-height: 30px;
    background-color: #e9e9de;
}

.clean_cartoon_button:hover {
    background-color: transparent;
}

.button_cartoon {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #e9e9de;
    --button_outline_color: #1a3c13;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
background: var(--button_outline_color);
}

.button_top {
    text-align: center;
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

.button_cartoon:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
}

.button_cartoon:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
}