.dark-bg-font {
    color: white;
}

.bg-pattern{
    background-color: #191c1b;
    background-image: radial-gradient(circle, #01140a 15%, transparent 10%), radial-gradient(circle, #01140a 15%, transparent 10%);
    background-size: 10px 10px;
    background-position: 0 0, 50px 50px;
  }

.clean_cartoon_button {
    border: none;
    width: 100%;
    height: 100%;
    max-height: 30px;
    background-color: #e9e9de;
}

.clean_cartoon_button:hover {
    background-color: transparent;
}

.button_cartoon {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #e9e9de;
    --button_outline_color: #1a3c13;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
background: var(--button_outline_color);
}

.button_top {
    text-align: center;
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

.button_cartoon:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
}

.button_cartoon:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
}

.card-extra {
    width: 300px;
    background: #141a17;
    position: relative;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    padding: 20px;

}

.card-extra h2, .card-extra p {
    max-width: 100%;
    z-index: 1;
    color: white;
    font-size: 1.4em;
}

.card-extra p {
    padding: 15px;
    font-size: 1em;
}

.card-extra::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, #00c45d, #00ff79);
    height: 200%;
    animation: rotBGimg 20s linear infinite;
    transition: all 0.2s linear;
}

@keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.card-extra::after {
    content: '';
    position: absolute;
    background: #141a17;
    inset: 5px;
    border-radius: 15px;
}  


.button-extra {
    padding: 0.8em 1.8em;
    border: 2px solid #00c45d;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #00c45d;
}

.button-extra::before {
    content: '';
    width: 0;
    height: 600%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #00c45d;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.button-extra:hover::before {
    width: 100%;
}

.button-extra:hover {
    color: #111;
}

